
<nb-card >
    <nb-card-header>
      Smart Table
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="data"
      >
      </ng2-smart-table>
    </nb-card-body>
    <form #updateForm="ngForm" #taskNewForm="ngForm" (ngSubmit)="onSubmit2();">
    <nb-select placeholder="Select contract" name="id_contract" #id_contract="ngModel"
                        [(ngModel)]="contract.id_contract">
                        <nb-option *ngFor="let contract of data" value="{{contract.id_contract}}">{{contract.id_contract}}
                        </nb-option>
                    </nb-select>
                    <button nbButton type="submit" value="Send" name="send">Send</button>
    </form>
  </nb-card>
  